<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
  </configSections>
 
  <appSettings>
    <add key="ServiceUrl" value="http://localhost:8080/" />
    <add key="HubName" value="WarehouseHub" />
  </appSettings>
  
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="IFrontServiceClient" type="Warehouse.Front.Service.Client.Contract.IFrontServiceClient, Warehouse.Front.Service.Client.Contract" /> 
    <alias alias="FrontServiceClient" type="Warehouse.Front.Service.Client.FrontServiceClient, Warehouse.Front.Service.Client" /> 
    <alias alias="FrontServiceClientStub" type="Warehouse.Front.Service.Client.Stub.FrontServiceClientStub, Warehouse.Front.Service.Client.Stub" />
    
    <container>
      <register type="IFrontServiceClient" mapTo="FrontServiceClientStub"/> 
    </container> 

  </unity>
  
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  
</configuration>